<div class="nk-block-head nk-block-head-sm">
  <div class="nk-block-head-sub">
    <%= link_to _back_url, class: 'back-to' do %>
      <%= icon_tag 'arrow-left' %>
      <span>Retour</span>
    <% end %>
  </div>
  <div class="nk-block-between">
    <div class="nk-block-head-content"><h3 class="nk-block-title page-title"><%= title %></h3></div>
    <div class="nk-block-head-content">
      <div class="toggle-wrap nk-block-tools-toggle">
        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu">
          <%= icon_tag 'more-v' %>
        </a>
        <div class="toggle-expand-content" data-content="pageMenu">
          <ul class="nk-block-tools g-3">
            <%= yield %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
