<div class="nk-header nk-header-fixed is-light">
  <div class="container-fluid">
    <div class="nk-header-wrap">
      <div class="nk-menu-trigger d-xl-none ml-n1">
        <% link_to icon_tag('menu'), '#',  class: 'nk-nav-toggle nk-quick-nav-icon', 'data-target': 'sidebarMenu' %>
      </div>
      <div class="nk-header-brand d-xl-none">
        <%= link_to root_path, class: 'logo-link' do %>
          <%= image_tag 'logo_dark.png', class: 'logo-dark logo-img', alt: 'logo ecovet dark' %>
          <%= image_tag 'logo_light.png', class: 'logo-light logo-img', alt: 'logo ecovet' %>
        <% end %>
      </div>
      <%= yield :content %>
      <div class="nk-header-tools">
        <ul class="nk-quick-nav">
          <% if current_user %>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle mr-n1" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user-toggle">
                  <div class="user-avatar sm">
                    <%= icon_tag 'user' %>
                  </div>
                  <div class="user-info d-none d-xl-block">
                    <div class="user-status user-status-verified">roles</div>
                    <div class="user-name dropdown-indicator"><%= current_user.email %></div>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                  <div class="user-card">
                    <div class="user-avatar">
                      <%= icon_tag 'user' %>
                    </div>
                    <div class="user-info">
                      <span class="sub-text"><%= current_user.full_name %></span>
                    </div>
                  </div>
                </div>
                <div class="dropdown-inner">
                  <ul class="link-list">
                    <li>
                      <%= button_to destroy_user_session_path, class: 'btn btn-lg btn-primary btn-block', method: :delete do %>
                        <span>Déconnexion</span>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
