<%= content_for :title, 'Inscription' %>

<div class="nk-block-head">
  <div class="nk-block-head-content">
    <h5 class="nk-block-title fw-bolder">Inscription</h5>
    <div class="nk-block-des"><p>Bienvenue sur Ecovet</p></div>
  </div>
</div>

<%= bootstrap_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.email_field :email, label: 'Adresse email', class: 'form-control-lg', autofocus: true, autocomplete: "email" %>
  <%= f.password_field :password, label: 'Mot de passe', class: 'form-control-lg', autocomplete: 'new-password' %>
  <%= f.submit "S'inscrire", class: 'btn btn-lg btn-primary btn-block' %>
<% end %>

<div class="form-note-s2 pt-4">
  Vous avez déjà un compte ? <%= link_to "Connectez-vous", new_user_session_path %>
</div>
