<div class="card">
  <div class="card-inner">
    <%= bootstrap_form_for(truck, url: truck.id.nil? ? trucks_path : truck_path(truck)) do |f| %>
      <% truck.errors.each do |error| %>
        <div data-controller="flash" data-type="error" data-message="<%= error.full_message %>" data-timer="5000"></div>
      <% end %>

      <div class="row">
        <div class="col-12 col-md-6"><%= f.text_field :plate, label: 'Plaque', class: 'form-control-lg' %></div>
        <div class="col-12 col-md-6"><%= f.text_field :capacity, label: 'Capacité', class: 'form-control-lg', append: ['M3'] %></div>
      </div>

      <%= f.submit "Créer", class: 'mt-3 btn btn-primary' %>
    <% end %>
  </div>
</div>
