<%= content_for :title, 'Tous les camions' %>

<%= render :layout => 'components/header', locals: {title: 'Tous les camions'} do %>
  <%= header_link_tag new_admin_truck_path, 'Nouveau', 'plus' %>
<% end %>

<% if @trucks.blank? %>
  <%= render :partial => 'components/empty_state' %>
<% else %>
  <div class="card card-preview">
    <table class="table table-tranx">
      <thead>
      <tr class="tb-tnx-head">
        <th>#</th>
        <th>Capacité</th>
        <th>Disponible</th>
        <th>Date</th>
        <th class="tb-tnx-action">
          <span>&nbsp;</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <% @trucks.each do |truck| %>
        <tr class="tb-tnx-item">
          <td><%= link_to truck.plate, [:admin, truck] %></td>
          <td><%= truck.capacity %></td>
          <td>
            <% if truck.is_available %>
              <span class="text text-success">OUI</span>
            <% else %>
              <span class="text text-danger">NON</span>
            <% end %>
          </td>
          <td><%= truck.created_at %></td>
          <td class="tb-tnx-action">
            <%= link_to icon_tag("eye"), [:admin, truck], class: 'text-soft btn btn-icon btn-trigger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
