<div class="card">
  <div data-controller="select" class="card-inner">
    <%= bootstrap_form_for(order, url: order.id.nil? ? admin_orders_path : admin_order_path(order)) do |f| %>
      <% order.errors.each do |error| %>
        <div data-controller="flash" data-type="error" data-message="<%= error.full_message %>" data-timer="5000"></div>
      <% end %>

      <div class="row">
        <div class="col-12"><%= f.collection_select :user_id, User.all_clients, :id, :email, label: 'Client', class: 'form-control-lg' %></div>
        <div class="col-12"><%= f.text_field :shipped_quantity, label: 'Quantité livrée', class: 'form-control-lg', append: ['M3'] %></div>
        <div class="col-12"><%= f.collection_select :truck_id, Truck.all_available, :id, :plate, label: 'Camion', class: 'form-control-lg' %></div>
        <div class="col-12"><%= f.datetime_field :shipped_at, label: 'Date de livraison', class: 'form-control-lg' %></div>
      </div>

      <%= f.submit "Créer", class: 'mt-3 btn btn-primary' %>
    <% end %>
  </div>
</div>
