<div id="<%= dom_id order %>">
  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Shipped quantity:</strong>
    <%= order.shipped_quantity %>
  </p>

  <p>
    <strong>Received quantity:</strong>
    <%= order.received_quantity %>
  </p>

  <p>
    <strong>Truck:</strong>
    <%= order.truck_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Shipped at:</strong>
    <%= order.shipped_at %>
  </p>

</div>
