<%= content_for :title, "Commande #{@order.id}" %>

<%= render :partial => 'components/header', locals: {title: "Commande ##{@order.id}"} %>

<div class="card mb-4"
     data-controller="map"
     data-map-start-value="<%= @order.start %>"
     data-map-destination-value="<%= @order.destination %>"
>
  <map class="card-inner" style="height: 335px;" id="map"></map>
</div>

<%= render @order %>
