<div id="<%= dom_id log %>">
  <p>
    <strong>Temperature:</strong>
    <%= log.temperature %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= log.quantity %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= log.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= log.lng %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= log.order_id %>
  </p>

</div>
