<p style="color: green"><%= notice %></p>

<%= render @log %>

<div>
  <%= link_to "Edit this order log", edit_log_path(@log) %> |
  <%= link_to "Back to order logs", logs_path %>

  <%= button_to "Destroy this order log", @log, method: :delete %>
</div>
