<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="js">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Truck Chain">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <title><%= yield :title %> | Truck Chain </title>
</head>

<body class="nk-body bg-white npc-default pg-auth">
<%= render 'components/flash' %>
<div class="nk-app-root">
  <div class="nk-main ">
    <div class="nk-wrap nk-wrap-nosidebar">
      <div class="nk-content ">
        <div class="nk-split nk-split-page nk-split-md">
          <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white shadow-sm z-3">
            <div class="nk-block nk-block-middle nk-auth-body">
              <div class="brand-logo pb-5">
                <%= link_to root_path, class: 'logo-link' do %>
                  <%= image_tag 'logo_dark.png', class: 'logo-img logo-img-lg', alt: 'logo truck chain' %>
                <% end %>
              </div>
              <%= yield %>
            </div>
            <% if content_for? :footer %>
              <%= yield :footer %>
            <% else %>
              <div class="nk-block nk-auth-footer">
                <div class="mt-3"><p>© <%= Time.now.strftime("%Y") %> Tout droits réservés Truck Chain.</p></div>
              </div>
            <% end %>
          </div>
          <div
            id="bg"
            class="nk-split-content nk-split-stretch bg-abstract z-1"
            style="background-image: url('https://images.pexels.com/photos/2199293/pexels-photo-2199293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
